<!DOCTYPE html>
<html>
<head>
	<title>胡聊</title>
	<link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css">
	<meta charset="utf-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<div class="ui-form ui-border-t">
		<section class="ui-panel ui-panel-center ui-border-tb">
			<h2><span>登陆</span></h2>
		</section>
		<form action="">
			<div class="ui-form-item ui-border-b">
				<input type="text" placeholder="用户名">
			</div>
			<div class="ui-form-item ui-form-item-link ui-border-b">
				<input type="text" placeholder="密码">
			</div>
			<div class="ui-btn-wrap">
				<button class="ui-btn-lg ui-btn-primary">
					确定
				</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>
<script>
	new Vue({
  	el: '#app',
  	data: {
     
  	}
})
</script>